.moviePoster {
  display: grid;
  grid-template-columns: 40% 20% 20% 20%;
  grid-template-rows: repeat(3, 1fr);
  grid-auto-flow: column;
  height: 104vh;
}

.posterImage {
  grid-area: 1 / 1 /4 /5;
  background: linear-gradient(rgb(0, 0, 0, 0.6), rgb(0, 0, 0, 0.3));
}

.posterImage img {
  z-index: -10;
  opacity: 0.7;
  height: 104vh;
  width: 100%;
  position: relative;
  object-fit: cover;
  object-position: top;
}

.posterImage__overlay {
  grid-area: 2 / 1 / 4 /5;
}

.posterImage__rating {
  display: flex;
  align-items: start;
  column-gap: 3rem;
  margin-bottom: 2rem;
}

.posterImage__fraction {
  display: flex;
  column-gap: 0.98rem;
  padding-top: 0.5rem;
}

.posterImage__fraction img {
  height: fit-content;
}

.posterImage__percentage {
  display: flex;
  column-gap: 0.98rem;
}

.posterImage__percentage h6 {
  padding-top: 0.5rem;
}

.posterImage__description {
  margin-bottom: 1.1rem;
}
.posterImage__description p {
  width: 39ch;
  line-height: 1.42rem;
}

.posterImage__watch-btn button {
  padding: 0.5rem 1.8rem;
  display: flex;
  align-items: center;
}

.posterImage__watch-btn button svg {
  height: 1.5rem;
  width: 1.5rem;
  margin-right: 0.6rem;
}

.posterImage__watch-btn button span {
  text-transform: uppercase;
  font-size: 0.9rem;
}

@media (max-width:  475px) {
  .moviePoster {
    height: 65vh;
  }
  .posterImage img {
    height: 65vh;
  }
}
@media (max-width: 375px) {
  .moviePoster {
    height: 82vh;
  }
  .posterImage img {
    height: 82vh;
  }
  
  .posterImage__description {
    margin-bottom: 1rem;
  }
  .posterImage__description p {
    width: 34ch;
    font-size: 0.9rem;
  }

  .posterImage__watch-btn button svg {
    height: 1.2rem;
    width: 1.2rem;
    margin-right: 0.4rem;
  }

  .posterImage__watch-btn button span {
    font-size: 0.6rem;
  }
}
